*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.accordion-collapse{
    transition: .40s ease-in-out;
    
}

iframe{
    width: 546px;
    height: 296px;
}

.list-group-item{
    padding-left: 0;
    padding-right: 0;
}

.arrow-up{
    position: absolute;
    right: 50px;
}

footer{
    padding: 10px 0px;
}

@media (max-width:992px){
    .box{
        margin-bottom: 1.5em;
    }

    .text-align-center{
        text-align: center;
    }

    .list-group-flush>.list-group-item:last-child{
        margin-bottom: 1.5em;
    }
}


@media (max-width:768px){
   

    iframe{
        text-align: center;
    }

  .padding-bottom{
      padding-bottom: 4em;
  }

  
  .padding-top{
    padding-top: 4em;
}

}

@media (max-width:650px){
    iframe{
        width: 100%;
    }

    .arrow-up{
        display: none;
    }
}

@media (max-width:576px){
    .display-none{
        display: none;
    }

    .center{
        text-align: center;
    }

    #learn{
        padding: 3em 1em !important;
    }
}